.git
.github
.DS_Store
site
logs
exploration
dbt/nyc_taxi_lakehouse/target
dbt/nyc_taxi_lakehouse/logs
infra/terraform/**/.terraform
infra/terraform/**/.terraform.lock.hcl
**/__pycache__
**/.pytest_cache
