apache-airflow-providers-amazon==9.16.0
boto3==1.42.59
click==8.3.1
dbt-adapters==1.22.9
dbt-common==1.37.3
dbt-core==1.11.7
dbt-extractor==0.6.0
dbt-protos==1.0.443
dbt-semantic-interfaces==0.9.0
dbt-spark[session]==1.10.1
deepdiff==8.6.2
delta-spark==3.2.0
agate==1.9.1
leather==0.4.1
mashumaro==3.14
msgpack==1.1.2
networkx==3.6.1
parsedatetime==2.6
protobuf==6.33.6
psycopg[binary]==3.2.12
pyspark==3.5.5
PyYAML==6.0.2
pytimeparse==1.1.8
snowplow-tracker==1.1.0
sqlparams==6.2.0
